@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
p {
  font-size: 23px;
  line-height: 35px;
}
h2{
  font-size: 50px;
}
.clearfix {
  clear: both;
}
.nav ul {
  float: right;
}

.nav ul li {
  float: left;
  padding: 25px;
  cursor: pointer;
  list-style: none;
}
.hero {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 80vh;
}

.hero-content {
  float: right;
  width: 40%;
  margin: 200px 200px 0 0;
}
.hero-content h1 {
  font-size: 50px;
}
.hero-content p {
  margin: 30px 0;
}
.btn {
  border: none;
  padding: 20px 30px;
  color: #fff;
  font-size: 23px;
  border-radius: 5px;
}
.btn-blue {
  background-color: #496bf2;
}
.btn-green {
  background-color: #2dd6c1;
}
.buttons button:last-child{
  margin-left: 20px;
}
.mercy {
  background-color: #496bf2;
  padding: 0px 5px;
  border-color: blue;
}
.kemmy {
  background-color: #2dd6c1;
  padding: 0px 5px;
  border-color: card;
}
.services {
  float: right;
  margin: 70px 0;

}
.card {
  padding: 50px 40px;
  width: 30%;
  box-shadow: 0 0 5px gray;
  float: left;
  text-align: center;
}
.card:nth-child(2){
  margin: 0 5%;
}
.card h3{
  color: #496bf2;
  font-size:30px;
  margin: 20px 0;
}
.brian {
  color: #496bf2;
}
.fay {
  color: #2dd6c1;
}
.ann {
  color: blue;
}

.span-text {
  color: #496bf2;
}
.testimonials {
  text-align: center;
  margin: 70px 0;
}
.contact h2{
  text-align: center;
  margin-bottom: 20px;
}
.contact-form {
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
    height: 80vh;
}
.form{
  padding: 40px;
  width: 45%;
}
.input-container, textarea{
  background-color:white ;
  margin-bottom: 15px;
  padding:30px 20px;
  border-radius: 5px;
}
.input-container input{
  font-size: 18px;

}
.input-container input,textarea{
  border: none;
  outline: none;
}
textarea{
  width: 100%;
  font-size: 18px;
 
}


.testimonial-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}
.testimonials h4{
  color: #496bf2;
  margin: 20px 0;
  font-size: 30px;
}
.green {
  background-color: #496bf2;
}
.blue {
  background-color: #2dd6c1;
}

.love{
  color:#2dd6c1;
}
.star {
  color: #496bf2;
}
.moon {
  color: #2dd6c1;
}

.mommy {
  color: #496bf2;
}
.footer-links {
  float: left;
  width: 25%;
}
.footer-links ul li {
  list-style: none;
  font-size: 23px;
  margin-bottom: 18px;
}
.footer-links ul li img{
  margin-right: 20px;
}
.services p {
  font-size: 28px;
}
.services h2 {
  font-size: 36px;
}
.about-img{
  width: 50%;
  float:left;
}
.about-us{
  margin: 60px 0;
}
.about-content {
  float: right;
  width: 48%;
}
.about-content p{
  width: 80%;
  margin: 25px 0;
}

.footer {
  margin-top: 40px;
}
.footer h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
.home {
  color: #496bf2;
}

.profiles{
  margin: 30px 0;
}
.paragraph {
  width:50%;
  margin:0 auto;
}
.paragraph p{
  text-align: left;
}
.quote-left{
  text-align: left;
  margin: 20px 0;
}
.quote-right{
  text-align: right;
  margin: 20px 0;
}
.ones{
  padding:30px 30px
}
.ones img:nth-child(2){
  margin: 0 40px;
}
