
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
  margin: 0 auto;
  padding: 5px;
  display: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
}
p{
  font-size: 20px;
}
.clearfix{
  clear:both;
}
.nav ul{
  float: right;
}

.nav ul li {
  float: left;
  padding:  20px;
  cursor: pointer;
  list-style: none;
}
  .hero{

    background:url("../images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
    height: 80vh;
  }
  
  .hero-content{
    float:right;
    width: 50%;
    padding: 150px 150px 0 0 ;
  }
  .hero-content h1{
    font-size: 40px;
  }
  .hero-content p{
    margin: 30px 0;
  }
.mercy{
  background-color:#496BF2;
  padding:0px 5px;
  border-color: blue;
}
.kemmy{
  background-color:#2DD6C1;
  padding:0px 5px;
  border-color: aqua;
}
.services{
  float:right;
  display:inline-flex;
  margin:70px;
}
.aqua{
  padding:0 150px;
  box-shadow:0 0 5px 5px;
  margin:20px;
}
.melody{
  color:#496BF2;
}
.brian{
  color:#496BF2;
}
.cate{
  float:left;
  padding-left: 500px;
}
.fay{
  color:#2DD6C1;
}
.ann{
  color:blue;

}
.ben{
  padding: 20px;
  margin: 30px;
  background-color: blue;
  color: white;

}

.span-text{
  color: #496BF2;
}
.testimonials{
  text-align: center;
}
.contact{
background:url("../images/ezgif-2-81a50240fb.png") no-repeat center center/cover;
}
.poppy{
  padding:10px 300px 50px 10px;
  margin:30px 20px;

}
.alpha{
  padding:20px 230px 150px 70px;
  margin:30px 20px;
}
.gammah{
  background-color: #496BF2;
  width: 10%;
  padding: 2em;
  color: #fff;
  border: none;
  margin: 25px 25px  20px 20px;
  
}


.testimonial-circle{
  height:20px;
  width:20px;
  border-radius:50%;
  display:inline-block;
  margin:6px;
}
.green{
  background-color:#496BF2;
}
.blue{
  background-color: #2DD6C1;
}
.yummie{
  color:#496BF2;
}
.star{
  color:#496BF2;
}
.moon{
  color:#2DD6C1;
}

.mommy{
  color:#496BF2;
}
.footer-links{
  float:left;
  width: 25%;
}
.footer-links ul li{
  list-style: none;
}








